@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bitcount+Grid+Double:wght@100..900&family=Damion&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ole&display=swap');
@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari & Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE & old Edge */
body {
  -ms-overflow-style: none;
}
.damion-regular {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}

.bitcount-grid-double {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.damion-regular {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}
.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.doto{
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

